@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.googleapis.com/css?family=Raleway');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Raleway';
  text-align: center;
}

.admin-layout {
  text-align: left;
}

h1, h2, h3 {
  color: #115582;
  font-weight: bold;
  margin-bottom: 20px;
}

h2, h3, h4 {
  color: #111;
  font-weight: bold;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  cursor: pointer;
}

.error-page {
  margin-top: 25px;
}

.contact-container ul.notifications {
  z-index: 1 !important;
  position: relative;
  margin: 10px;
  width: 100%;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.admin-layout .nav > li > a {
  display: inline;
}

.home-container h1 {
  margin-top: 0;
}

.home-container.container {
  min-height: 1%;
}

.container {
  width: 100%;
  min-height: 100%;
  /*padding: 0;*/
}

.main-logo-container {
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #ddd;*/
}

img.header-gif {
  /*padding-top: 50px;*/
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -25px;
  /*height: 100%;*/
}

.content {
  padding-top: 100px;
}

.content-copy {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.about-container .content-copy {
  max-width: 800px;
}

.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(1,1,1,0.25);
  top: 0%;
  left: 0%;
  z-index: 100;
  overflow-y: scroll;
}

.my-overlay .modal {
  border-radius: 4px;
  margin-top: 12%;
  margin-bottom: 12%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  bottom: 10%;
  background-color: #fff;
  display: block;
  padding: 40px;
  text-align: left;
}

.my-overlay .modal-copy {
  overflow: hidden;
  height: 100%;
}

.my-overlay #close-overlay {
  color: #333;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
}

a.btn.btn-primary.btn-custom .fa-search {
  border-color: transparent;
  /*font-size: 30px;*/
}

.fa-envelope-o {
  padding-right: 8px;
}

.btn.btn-primary.btn-custom {
  /*background-color: #fff;*/
  background-color: transparent;
  border-radius: 5px;
  border-color: transparent;
  /*color: #1999cd;*/
  color: #111;
  font-size: 16px;
  font-family: 'Montserrat';
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.btn.btn-primary.btn-custom:hover,
.btn.btn-primary.btn-custom:focus {
  /*background-color: #1999cd;*/
  background-color: #1999CD;
  color: #fff;
}

.home-nav .btn.btn-primary.btn-custom:hover,
.home-nav .btn.btn-primary.btn-custom:focus {
  /*background-color: #1999cd;*/
  background-color: transparent;
  color: #136c8e;
}

.content p {
  text-align: left;
}

.content p.center-para {
  text-align: center;
}

.services-container {
  background-color: #eee;
}

.services-container .btn-group {
  padding-top: 25px;
}

.services-scroll-container {
  position: fixed;
  width: 90%;
  left: 5%;
  bottom: 0;
  z-index: 100;
}

.services-scroll-container .btn-group {
  margin-bottom: 20px;
}

#scroll-style {
  color: #7bbed1;
  font-size: 14px;
  font-family: 'Montserrat';
}

#scroll-style:hover,
#scroll-style:focus {
  text-decoration: none;
}

.services-scroll-container .back-to-top {
  font-size: 40px;
  color: #64B0C7;
  padding-left: 10px;
}

div.train-btn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #addfed;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-primary.btn-custom#training-scroll,
.btn.btn-primary.btn-custom#consulting-scroll {
  color: #111;
  border-color: #eee;
  background-color: #78BBCF;
  margin-left: 0;
  margin-right: 0;
}

.btn.btn-primary.btn-custom#training-scroll:hover,
.btn.btn-primary.btn-custom#training-scroll:focus,
.btn.btn-primary.btn-custom#consulting-scroll:hover,
.btn.btn-primary.btn-custom#consulting-scroll:focus {
  color: #fff;
  background-color: #1999cd;
  outline: none;
}

.services.row {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.consulting-container .services.row {
  max-width: 700px;
}

.business-partners-container {
  background-color: #eee;
}

.business-partners-container h2 {
  margin: 50px 0;
}

.business-partners-container .thumbnail {
  background-color: transparent;
}

.services .panel.panel-default {
  margin-bottom: 5px;
  background-color: #F6F6F6;
  border-color: transparent;
  text-align: left;

  -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
}

.services .panel.panel-default .panel-body {
  padding: 30px;
}

.services .panel.panel-default .panel-collapse.in {
  /*height: 350px;*/
}

.services .panel.panel-default .panel-collapse.collapse.collapsing {
  /*height: 350px;*/
}

.services .panel.panel-default .panel-body {
  /*height: 350px;*/
  /*overflow-y: scroll;*/
}

.services .thumbnail {
  background-color: #97cdda;
  border-color: transparent;
  height: 150px;
  color: #305860;
  
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
}

.services .thumbnail:hover {
  background-color: #00c49e;
  color: #fff;
}

.services .thumbnail .caption {
  display: block;
  color: inherit;
  padding: 0;
}

.services .thumbnail .caption  h4{
  color: inherit;
  margin: 0;
  font-size: 16px;
}

.services.home-services.row {
  width: 100%;
  max-width: 100%;
}

.services.home-services.row.odd-row.odd-one {
  width: 25%;
}

.services.home-services.row.odd-row.odd-two {
  width: 50%;
}

.services.home-services.row.odd-row.odd-three {
  width: 80%;
}

.data-talent-container .row.personnel.even-row {
  padding-bottom: 0px;
}

.data-talent-container .row.personnel.odd-row {
  width: 52%;
}

.services .panel h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.services .col-md-2 {
  /*padding: 0;*/
  /*margin: 0 10px 0 10px;*/
}

.services span > .fa {
  color: #999;
  font-size: 25px;
  padding: 8px 15px;
}

.services .panel span > .fa {
  float: left;
}

.services .btn.btn-info {
  position: absolute;
  bottom : 30px;
  width: 75%;
  left: 12.5%;
}

.services .panel a .fa {
  padding-right: 10px;
}

.services .panel-heading {
  padding: 5px 0px;
}

.services .panel-heading img {
  padding: 0px 10px;
  float: left;
  /*padding-left: 20px;*/
  height: 45px;
}

.services .panel-body {
  background-color: #fff;
}

.content-copy > p {
  text-align: center;
}

.content-copy ul {
  background-color: #BDDFEA;
  border-radius: 5px;
  padding: 30px 40px;
  width: 60%;
  text-align: left;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.content-copy ul li {
  list-style: none;
  border-bottom: 1px solid #72a0a8;
  padding: 10px 0px;
}

.content-copy ul li:last-child {
  border-bottom: none;
}

.thumbnail.expertise {
  background-color: #97cdda;
  height: 80px;
}

.thumbnail.expertise h4 {
  line-height: 70px;
}

.about-container .row.personnel {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row.personnel {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.personnel .thumbnail {
  border: none;
}

.personnel img {
  width: 200px;
}

.data-talent-container .row.personnel .thumbnail {
  margin-bottom: 0;
}

.data-talent-container .row.personnel img {
  width: 175px;
  cursor: pointer;
}

.data-talent-container .row.personnel .caption {
  padding: 0;
}

.personnel h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail p {
  text-align: center;
}

body.noscroll
{
    /*position: fixed; */
    overflow: hidden;
}

.panel-body ul {
  margin: 0;
}

.topic-list {
  border-radius: 5px;
  background-color: rgba(120, 187, 207, 0.25);
  padding-top: 20px;
  padding-bottom: 20px;
}

#insertContactForm {
  width: 90%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.books img {
  height: 250px !important;
  width: 200px;
}

.books .thumbnail {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.books h4 {
  font-family: 'Montserrat';
}

.books h4,
.books p {
  text-align: left;
}

#div-divider {
  border-bottom: 1px solid #888;
  margin: 10px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.row.personnel.books .col-md-4 {
  height: 450px;
}

@media screen 
and (min-width : 0px) 
and (max-width : 480px) {
  .services.home-services.row.odd-row {
    width: 100%;
  }
}

@media screen 
and (min-width : 480px) 
and (max-width : 768px) {
  .services.home-services.row.odd-row {
    width: 100%;
  }
}

@media screen 
and (min-width : 768px) 
and (max-width : 991px) {
  .services.home-services.row.odd-row {
    width: 100%;
  }
}

/*collapse the navbar before default bootstrap breakpoint*/
@media (max-width: 1066px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-height: 463px) {
  .navbar-collapse.collapse.in {
    height: calc(100vh - 110px);
  }
}

@media (max-width: 1000px) {
  .services.home-services.row.odd-row.odd-one {
    width: 50%;
  }
  .services.home-services.row.odd-row.odd-two {
    width: 100%;
  }
  .services.home-services.row.odd-row.odd-three {
    width: 100%;
  }
}

@media (max-width: 463px) {
    .content-copy ul {
        width: 90%;
    }
}