<template name="training">
  <!-- <div class="training-container services-container container"> -->
    <!-- <div class="services-content"> -->
      <div class="content-copy">
        <h3>{{title}}</h3>
        {{{description}}}
      </div>

        <div class="services row home-services">
        {{#each trainingContentEven}}

          <div class="col-sm-6 col-md-3">
            
            <a href="{{pathFor route='trainingCourses' hash=slug}}">
              <div class="thumbnail">
                <img src="{{icon}}" alt="{{courseTitle}}">
                <div class="caption">
                  <h4>{{courseTitle}}</h4>
                </div>
              </div>
            </a>

          </div>
        {{/each}}
        </div>

        <div class="services row odd-row home-services">
        {{#each trainingContentOdd}}

          <div class="col-sm-6 col-md-4">
            
            <a href="{{pathFor route='trainingCourses' hash=slug}}">
              <div class="thumbnail">
                <a><img class="img-circle" src="{{getIcon iconId=icon}}" alt="{{courseTitle}}"></a>
                <div class="caption">
                  <h4>{{courseTitle}}</h4>
                </div>
              </div>
            </a>

          </div>
        {{/each}}
        </div>

    <!-- </div> -->
  <!-- </div> -->
</template>