<template name="highCompR">
  <ul class="topic-list">
    <li>Benchmarking and profiling code</li>
    <li>Converting tricky loops into vectorized code</li>
    <li>Using matrix algebra and cross product functions instead of standard loops and sums</li>
    <li>Fast data manipulation with dplyr</li>
    <li>Using alternative backend data storage such as PostgreSQL</li>
    <li>The data.table package</li>
    <li>The parallel, doParallel and foreach packages for parallel computations</li>
    <li>Integrating C++ into R packages</li>
    <li>Alternative matrix algebra libraries</li>
  </ul>
</template>