<template name="introR">
  <ul class="topic-list">
    <li>Getting and installing R</li>
    <li>The RStudio Environment</li>
    <li>The basics of R</li>
    <ul>
      <li>Variables</li>
      <li>Data Types</li>
      <li>Reading data</li>
      <li>Calling functions</li>
      <li>Missing Data</li>  
    </ul>
    <li>Basic Math</li>
    <li>Advanced Data Structures</li>
    <li>Reading Data into R</li>
    <li>Matrix Calculations</li>
    <li>Data Munging</li>
    <ul>
      <li>Base R</li>
      <li>plyr</li>
      <li>reshape2</li> 
    </ul>
    <li>Writing functions</li>
    <li>Conditionals</li>
    <li>Loops</li>
    <li>String manipulation and regular expressions</li>
    <li>Visualization</li>
    <ul>
      <li>Base R</li>
      <li>ggplot2</li>
    </ul>

  </ul>
</template>