<template name="introPython">
  <ul class="topic-list">
    <li>Getting and installing Python (Anaconda)</li>
    <li>The Spyder Environment</li>
    <li>The basics of Python</li>
    <ul>
      <li>Basic Math</li>
      <li>Variables</li>
      <li>Data Types</li>
      <ul>
        <li>lists, tuples, dictionaries</li>
      </ul>
      <li>Flow Control</li>
      <li>Functions</li>
    </ul>
    <li>classes</li>
    <li>Reading data (using with open)</li>
    <li>String manipulation and regular expressions</li>
    <li>basic file IO</li>
    <li>Matrix Calculations</li>
    <li>pandas dataframe</li>
    <ul>
      <li>Reading data (csv)</li>
      <li>Data Munging</li>
    </ul>
  </ul>
</template>