<template name="machineLearn">
  <ul class="topic-list">
    <li>Variable selection for high dimensional data with the Elastic Net as implemented by the glmnet package</li>
    <li>Reduce uncertainty with weakly informative priors and Bayesian regression</li>
    <li>K-Means clustering</li>
    <li>Hierarchical clustering</li>
    <li>Multidimensional scaling</li>
    <li>Matrix Factorization for recommendations</li>
    <li>Decision Trees for classification</li>
    <li>Random Forests for ensembling decision trees</li>
    <li>Bootstrap for measuring uncertainty</li>
    <li>Cross validation for model assessment</li>
  </ul>
</template>