<template name="modelR">
  <ul class="topic-list">
    <li>Basic Statistics</li>
    <ul>
      <li>Probability Distributions</li>
      <li>Averages, standard deviations and correlations</li>
      <li>t-test</li>
    </ul>
    <li>Linear Models</li>
    <ul>
      <li>Simple linear regression</li>
      <li>Multiple Regression</li>
    </ul>
    <li>Generalized Linear Models</li>
    <ul>
      <li>Logistic Regression</li>
      <li>Poisson Regression</li>
      <li>Survival Analysis</li>
    </ul>
    <li>Assessing Model Quality</li>
    <li>Time Series</li>
  </ul>
</template>