<template name="bobTalent">
  <h3>Bob Carpenter</h3>
  <p>Bob Carpenter is a research scientist in computational statistics (Columbia University).  He designed the Stan probabilistic programming language and is one of the Stan core developers.</p>
  <p>Bob has a Ph.D. in cognitive and computer science (University of Edinburgh), worked as a professor of computational linguistics (Carnegie Mellon University), an industrial researcher and programmer in speech recognition and natural language processing (Bell Labs, SpeechWorks, LingPipe).  In addition to working on Stan, he’s written two books on computational linguistics, many papers, and the widely used LingPipe natural language processing toolkit.</p>
</template>