<template name="danielTalent">
  <h3>Daniel Chen</h3>
  <p>Daniel Chen has been a bioinformatics researcher for more than seven years, where he utilizes data and statistical models to study the spread of disease and the efficacy of medicine and treatments.  He holds a masters in Epidemiology from Columbia University and earned his bachelor degree in Psychology from the Macaulay Honors College at CUNY Hunter College with a concentration in behavioral neuroscience and minors in computer science and biology.</p>
  <p>
  He specializes in research design, analysis and teaching scientific computing with an emphasis on R, Git, Python and Linux.  Currently focused on the study of population health using a data science approach through agent-based modeling.</p>
</template>