<template name="jaredTalent">
  <h3>Jared Lander</h3>
  <p>Jared P. Lander is Chief Data Scientist of Lander Analytics, the Organizer of the New York Open Statistical Programming Meetup and an Adjunct Professor of Statistics at Columbia University.  With a masters from Columbia University in statistics and a bachelors from Muhlenberg College in mathematics, he has experience in both academic research and industry.</p>
  <p>He is the author of R for Everyone, a book about R Programming geared toward Data Scientists and Non-Statisticians alike. The book is available from Amazon, Barnes & Noble and InformIT. The material he teaches, both R and theoretical data science, is drawn from the classes he teaches at Columbia and his book.  His writings on statistics can be found at jaredlander.com.
  </p>
</template>