<template name="vivianTalent">
  <h3>Vivian Peng</h3>
  <p>Vivian Peng is a transmedia designer with experience in infomatics and sociomedical sciences to display statistical data in a compelling fashion.  She holds a masters in public health from Columbia University and a bachelors in Molecular Cell Biology from University of California, Berkeley.   Her training approach specializes in data visualization using R and D3.js to inspire design thinking that maximizes data presentation to its most practical usage.</p>
</template>