<template name="about">
  {{> overlay}}
  <div class="about-container container">
    <div class="content">
      <div class="content-copy">
        <h1>ABOUT LANDER ANALYTICS</h1>
        <p>Lander Analytics is a New York based consulting firm specializing in statistical and data analytic work.  Clients range from large corporations to nascent startups, from political campaigns to disaster relief efforts on multiple continents.</p>
        <p>Led by owner Jared Lander, projects are completed by a team of statisticians and data scientists most of whom hold Master’s or Ph.D.’s.
        </p>
        <p>Please see a partial list of Consulting and Training services or Contact us to discuss your project.</p>
      </div>
    </div>
  </div>
</template>