<template name="about">
  <div class="about-container container">
    <div class="content">
      <div class="content-copy">
        <h2>{{title}}</h2>
        {{#each description}}
          <p>{{this}}</p>
        {{/each}}
      </div>
      <br>

      <div class="row personnel">

        {{#each leaders}}
        <div class="col-md-4">
          <div class="thumbnail">
            <a><img class="img-circle" src="{{getPicture pictureId=picture}}" alt="..."></a>
            <div class="caption">
              <h3>{{name}}</h3>
              <p>{{positionTitle}}</p>
            </div>
          </div>
        </div>

        {{#if showOverlay leaderName=name}}
          {{> overlay}}
        {{/if}}

        {{/each}}

      </div>

    </div>
  </div>
</template>

<template name="leaderBio">
  <h3>{{name}}, {{title}}</h3>
  {{#each bio}}
    <p>{{this}}</p>
  {{/each}}
</template>