<template name="books">
  <div class="books-container container">
    <div class="content">
      <div class="content-copy">
      <h2>BOOKS</h2>
      <p>Check out these books written by our <a href="{{pathFor route='dataTalent'}}">Data Talent</a></p>
      </div>

      <div class="row personnel books">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="http://www.amazon.com/Everyone-Advanced-Analytics-Graphics-Addison-Wesley/dp/0321888030" target="_blank"><img src="http://ecx.images-amazon.com/images/I/51Jib4uNx3L.jpg" alt="..."></a>
            <div class="caption">
              <h4>R for Everyone</h4>
              <p>by Jared Lander</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="http://www.amazon.com/dp/B004MPRDW2/" target="_blank"><img src="http://ecx.images-amazon.com/images/I/81l1W2IxWmL._SL1500_.jpg" alt="..."></a>
            <div class="caption">
              <h4>Red State, Blue State, Rich State, Poor State: Why Americans Vote the Way They Do</h4>
              <p>by Andrew Gelman</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="http://www.amazon.com/gp/product/0198572247/" target="_blank"><img src="http://ecx.images-amazon.com/images/I/71zaHFSuqfL.jpg" alt="..."></a>
            <div class="caption">
              <h4>Teaching Statistics: A Bag of Tricks</h4>
              <p>by Andrew Gelman</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row personnel books">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="http://www.amazon.com/Analysis-Regression-Multilevel-Hierarchical-Models/dp/052168689X/" target="_blank"><img src="http://ecx.images-amazon.com/images/I/519gJUTbWwL.jpg" alt="..."></a>
            <div class="caption">
              <h4>Data Analysis Using Regression and Multilevel/Hierarchical Models</h4>
              <p>by Andrew Gelman</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="http://www.amazon.com/gp/product/1439840954/" target="_blank"><img src="http://ecx.images-amazon.com/images/I/71mVhcHbwgL.jpg" alt="..."></a>
            <div class="caption">
              <h4>Bayesian Data Analysis, Third Edition</h4>
              <p>by Andrew Gelman</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>