<template name="consulting">
  <!-- <div class="consulting-container services-container container"> -->
    <!-- <div class="services-content"> -->
      <div class="content-copy">
        <h3>{{title}}</h3>
        {{{description}}}
        <br>
        <h4>Areas of Expertise</h4>
        <ul>
        {{#each expertiseList}}
          <li>{{this.expertiseLabel}}</li>
        {{/each}}
        </ul>

        <br>

        <p class="center-para">For more information please <a id="consulting-to-contact" href="{{pathFor route='contact'}}">contact us</a></p>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</template>