<template name="trainingCourses">
  <div class="training-container container">
    <div class="content">
      <div class="content-copy">
        <h2>{{title}}</h2>
        {{{description}}}
      </div>

      <div class="services row">
          <div class="panel-group" id="accordion">
            {{#each trainingContent}}

            <div class="panel panel-default">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{slug}}">
                <div class="panel-heading">
                    <a><img class="img-circle" src="{{getIcon iconId=icon}}" alt="{{title}}"></a>
                    <h3>{{title}}</h3>
                </div>
              </a>
              <div id="{{slug}}" class="panel-collapse collapse {{#if currentPanelIsHash}}in{{/if}}">
                  <div class="panel-body">
                    <h3><strong>Description:</strong></h3>
                    <p>{{description}}</p>
                    <br>
                    <h3><strong>Topics Covered:</strong></h3>
                    <div class="topic-list">
                      {{{this.topicList}}}
                    </div>
                    <br>
                    <p class="">For more information please <a href="{{pathFor route='contact'}}">contact us</a></p>
                  </div>
              </div>
            </div>
            {{/each}}
          </div>
      </div>

    </div>
  </div>
</template>

<template name="topic">
  <li>{{topicHeading}}</li>
  <ul>
  {{#each subTopics}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
</template>