<template name="books">
  <div class="books-container container">
    <div class="content">
      <div class="content-copy">
      <h2>{{title}}</h2>
      {{{description}}}
      </div>

      <div class="row personnel books">
      {{#each books}}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{urlLink}}" target="_blank"><img src="{{getPicture pictureId=picture}}" alt="..."></a>
            <div class="caption">
              <h4>{{name}}</h4>
              <p>{{author}}</p>
            </div>
          </div>
        </div>
      {{/each}}
      </div>

    </div>
  </div>
</template>