<template name="dataTalent">
  {{> overlay}}
  <div class="data-talent-container container">
    <div class="content">
      <div class="content-copy">
        <h2>DATA TALENT</h2>
      </div>

      <div class="row personnel">
      {{#each dataTalentEven}}
        <div class="col-md-4">
          <div class="thumbnail">
            <a><img class="img-circle" src="{{getPicture pictureId=picture}}" alt="..."></a>
            <div class="caption">
              <h4>{{name}}</h4>
            </div>
          </div>
        </div>

        {{#if showOverlay talentName=name}}
          {{> overlay}}
        {{/if}}

      {{/each}}
      </div>

      <div class="row personnel odd-row">
      {{#each dataTalentOdd}}
        <div class="col-md-{{#if dataTalentOddSingle}}12{{else}}6{{/if}}">
          <div class="thumbnail">
            <a><img class="img-circle" src="{{getPicture pictureId=picture}}" alt="..."></a>
            <div class="caption">
              <h4>{{name}}</h4>
            </div>
          </div>
        </div>

        {{#if showOverlay talentName=name}}
          {{> overlay}}
        {{/if}}

      {{/each}}
      </div>

    </div>
  </div>
</template>

<template name="talentBio">
  <h3>{{name}}</h3>
  <br>
  {{{bio}}}
</template>